___

**Pandas**
Pandas is a software library written for the Python programming language for data manipulation and analysis. 

It is assumed that Pandas library is alredy install in your system
Exercise
https://pandas.pydata.org/
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.** 

If you are using CoLabs, you may need to check the documentation in how to load a CSV file.

In [2]:
sal = pd.read_csv("Salaries.csv")

** Check the head of the DataFrame. **

In [29]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [8]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87949 entries, 0 to 87948
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                87949 non-null  int64
 1   EmployeeName      87949 non-null  object
 2   JobTitle          87949 non-null  object
 3   BasePay           87946 non-null  float64
 4   OvertimePay       87949 non-null  float64
 5   OtherPay          87948 non-null  float64
 6   Benefits          51789 non-null  float64
 7   TotalPay          87948 non-null  float64
 8   TotalPayBenefits  87948 non-null  float64
 9   Year              87948 non-null  float64
 10  Notes             0 non-null      float64
 11  Agency            87948 non-null  object
 12  Status            0 non-null      float64
dtypes: float64(9), int64(1), object(3)
memory usage: 8.7+ MB

**What is the average BasePay ?**

In [14]:
sal = sal[~sal["BasePay"].isna()] # Always good to remove our null values first
avgBase = sal.BasePay.mean()
print(avgBase)

72477.09828758557

** What is the highest amount of OvertimePay in the dataset ? **

In [15]:
maxOverpay = sal["OvertimePay"].max()
print(maxOverpay)

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [21]:
findJoe = sal.loc[sal["EmployeeName"] == "JOSEPH DRISCOLL", "JobTitle"].values[0]
print(findJoe) # We use the loc() method to locate/query within the dataframe
print('JOSEPH DRISCOLL')

CAPTAIN, FIRE SUPPRESSION
JOSEPH DRISCOLL

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [27]:
print('JOSEPH DRISCOLL')
sal[sal["EmployeeName"] == "JOSEPH DRISCOLL"]["TotalPayBenefits"]

JOSEPH DRISCOLL

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [32]:
sal[sal["TotalPayBenefits"] == sal["TotalPayBenefits"].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [57]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()] #['EmployeeName'] # I notice there are 3 people who are earning 0

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
36156,36157,PAULETTE ADAMS,"STATIONARY ENGINEER, WATER TREATMENT PLANT",0.0,0.0,0.0,NaN,0.0,0.0,2011.0,NaN,San Francisco,NaN
36157,36158,KAUKAB MOHSIN,TRANSIT OPERATOR,0.0,0.0,0.0,NaN,0.0,0.0,2011.0,NaN,San Francisco,NaN
36158,36159,JOSEPHINE MCCREARY,MANAGER IV,0.0,0.0,0.0,NaN,0.0,0.0,2011.0,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [52]:
sal.groupby('Year').mean()['BasePay']

Year
2011.0     63595.956517
2012.0     65436.406857
2013.0    111091.996769
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [58]:
sal['JobTitle'].nunique()

2107

** What are the top 5 most common jobs? **

In [59]:
sal['JobTitle'].value_counts().head(5)

Transit Operator    3007
TRANSIT OPERATOR    2388
Registered Nurse    2307
Police Officer 3    1568
Special Nurse       1536
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [60]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

168

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [64]:
def findChief(title): # Function to find the keyword
    if 'chief' in title.lower(): # Preprocess lowercase
        return True
    else:
        return False

In [65]:
sum(sal['JobTitle'].apply(lambda x: findChief(x)))

457

** Optional: Is there a correlation between length of the Job Title string and Salary? **

In [67]:
sal['title_len'] = sal['JobTitle'].apply(len) # We could do a regression test but a len/corr() is easier in pandas as we are not doing any deep analysis here

In [68]:
sal[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.052258
TotalPayBenefits  -0.052258          1.000000